<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Manupuladora">
        <activity
            android:name=".manupuladora.dialog_info"
            android:exported="false" />
        <activity
            android:name=".manupuladora.reportes_mani"
            android:exported="false"
            android:theme="@style/Theme.Manupuladora" />
        <activity
            android:name=".manupuladora.registro_preparacion_mani"
            android:exported="false" />
        <activity
            android:name=".manupuladora.info_menu_mani"
            android:exported="false" />
        <activity
            android:name=".manupuladora.avisos_mani"
            android:exported="false" />
        <activity
            android:name=".manupuladora.perfil_mani"
            android:exported="false" /> <!-- LOGIN -->
        <activity
            android:name=".manupuladora.activity_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- DASHBOARD -->
        <activity
            android:name=".manupuladora.activity_dashboard"
            android:exported="false" /> <!-- INVENTARIO -->
        <activity
            android:name=".manupuladora.activity_inventario"
            android:exported="false" /> <!-- PREPARACIONES ASIGNADAS -->
        <activity
            android:name=".manupuladora.preparaciones_asignadas"
            android:exported="false" /> <!-- CHOCOLATE -->
        <activity
            android:name=".manupuladora.activity_preparacion_chocolate"
            android:exported="false" /> <!-- HUEVO REVUELTO -->
        <activity
            android:name=".manupuladora.preparacion_huevo_revuelto"
            android:exported="false" /> <!-- AREPA DE MAÍZ -->
        <activity
            android:name=".manupuladora.preparacion_arepa_maiz"
            android:exported="false" /> <!-- MAIN ACTIVITY -->
        <activity
            android:name=".manupuladora.MainActivity"
            android:exported="false" />
    </application>

</manifest>